<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>a</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <% var a = Math.floor(Math.random() * quotes.length) %>
    <p><%= quotes[a].id %></p>
    <p><%= quotes[a].quote %></p>
    <p><%= quotes[a].author %></p>
</body>
</html>
